/*service*/
.service-section {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 20px 0 25px 0;
	.service {
		width: 100%;
		@include grid(3, 50px);
		.service-card {
			min-height: 315px;
			border-radius: 4px;
			background: $primary-color;
			padding: 25px;
			transition: 250ms;
			&:hover {
				transform: translateY(-8px);
			}
			.service-icon {
				width: 65px;
				height: 65px;
				border-radius: 99px;
				background: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				.service-img {
					width: 40px;
					height: 40px;
				}
			}
			.service-title {
				text-align: center;
				@include text(1.5rem, #fff, 700);
				margin: 15px 0;
			}
			.service-text {
				text-align: justify;
				@include text(1rem, whitesmoke, 500);
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.service-section .service {
		@include grid(2, 50px);
	}
}

@media only screen and (max-width: 768px) {
	.service-section .service {
		@include grid(1, 20px);
		.service-card .service-title {
			font-size: 2rem;
		}
		.service-card .service-text {
			font-size: 1.2rem;
		}
	}
}
