/*Testimonial*/
.testimonial-section {
	width: 100%;
	height: auto;
	padding: 25px 0;
	.testimonial-card {
		width: 100%;
		min-height: 250px;
		height: auto;
		background: $section-color;
		border-radius: 5px;
		margin: 0 20px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.testimonial-icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: $primary-color;
			display: flex;
			align-items: center;
			justify-content: center;
			i {
				@include text(1.7rem, #fff, 700);
			}
		}
		.testimonial-text {
			@include text(1rem, $text-color, 600);
			text-align: center;
			margin: 10px 0;
		}
		.testimonial-user {
			width: 100%;
			min-height: 50px;
			height: auto;
			display: flex;
			justify-content: center;
			.testimonial-img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			.testimonial-content {
				height: 100%;
				display: flex;
				flex-direction: column;
				padding-left: 5px;
				.testimonial-name {
					@include text(1rem, $text-color, 600);
				}
				.testimonial-job {
					@include text(0.75rem, #eee, 500);
				}
			}
		}
	}
	.rec .rec-arrow {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $section-color;
		color: $primary-color;
		transition: 250ms;
		&:hover,
		&:focus {
			background: $primary-color;
			color: #fff;
		}
	}
	.rec .rec-dot {
		border: 2px solid $primary-color;
		outline: none;
		box-shadow: none;
	}
	.rec .rec-dot_active {
		background: $primary-color;
	}
}

@media only screen and (max-width: 500px) {
	.testimonial-section {
		.rec .rec-arrow {
			width: 30px;
			height: 30px;
			font-size: 1.2rem;
		}
		.testimonial-card .testimonial-user .testimonial-content {
			.testimonial-name {
				font-size: 0.875rem;
			}
			.testimonial-job {
				font-size: 0.75rem;
			}
		}
	}
}
